@-moz-document domain('lastfm.fr'){

body {
  background-color: #282828 !important;
  color: white;
}
  
.content {
  background-color: #282828 !important;
  border: none !important;
}

h1{
    color: white !important;
  }

h2{
    color: white !important;
  }
a {
    color: #E4979D !important;
}

.memo--grey {
    background-color: #303030 !important;
}

.memo {
    background: #303030!important;
}
.btn {
    background-color: #303030;
    box-shadow: none;
   background-image: none !important;
    text-shadow: none;
}

.site-footer {
   text-shadow: none !important;
    background: #303030 !important;
}

#content {
    background: #282828 !important;
    border: none !important;
}
.leftCol {
  background-color: #282828!important;
}
.rightCol {
  background-color: #282828!important;
}
table.chart tr.odd td {
    background-color: #303030!important;
}
.shouts .message p {
  color: white;
}
#tasteCocktail .wrapper {
    border: none;
    background:  #303030!important;
}
  table.tracklist td.highlight {
    background: #303030!important;
}
.fiflufi .leftCol {
    background: none!important;
}
div.chartbar span {
    background: #E4979D !important;
}
table.tracklist tr.odd {
    background-color: #303030 !important;
}
    .lfmBlack .masthead {
    background-image: linear-gradient(#282828, #282828);
}
.recent-tracks-item {
    background: #303030;
}
}