

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);


/* DISCLAIMER: This is literally Twily's css, I just changed the colors to fit my theme
It works better on osx, probably, I haven't tried it on any other os
http://twily.info/
*/


/*tab-width*/



.tabbrowser-tabs:not([drag=detach]) > .tabbrowser-tab:not([pinned])[fadein] {

min-width: 15px !important;

max-width: 100% !important;

}

/*comment above to have normal tab width*/



#identity-box, #identity-icon-labels {

    color: transparent !important;

    background-color: #282828 !important;

    margin-top: 0px !important;

    margin-left: 2px !important;

    padding: 0px !important;

}



#customizableui-special-spring3 {

    display: none;

}







#searchbar > .searchbar-textbox, #urlbar {

    border: 0px solid #FBFBFB !important;

    text-align: right;

    background: #282828 !important;

    margin-top: 0px !important;

    margin-left: 5px !important;

    border-radius: 1px;

    margin-bottom: 0px;

    padding: 0px !important;

    color: #DF5673 !important;

}



statuspanel[type="overLink"] .statuspanel-label

{

background: #282828 !important;

border: 0px solid #3f3f3f !important;

color: #DF5673 !important;

}

statuspanel .statuspanel-label

{

background: #282828 !important;

border: 0px solid #3f3f3f !important;

color: #DF5673 !important;

}

statuspanel[type="status"] .statuspanel-label[value^="Looking"],

statuspanel[type="status"] .statuspanel-label[value^="Connect"],

statuspanel[type="status"] .statuspanel-label[value^="Waiting"],

statuspanel[type="status"] .statuspanel-label[value^="Transfer"]

{

background: #282828 !important;

border: 0px solid #3F3F3F !important;

color: #474c70 !important;

}

    

/*remove shitty fog*/

#TabsToolbar:not(:-moz-lwtheme)::after {display: none;}

/* Remove the following line if you want the text color of unselected tabs to be black (Firefox default) */

#TabsToolbar .tabbrowser-tab:not([selected]) {color: rgba(255,255,255,0.9);}



/*remove internal border*/

#main-window:not([chromehidden*="toolbar"])[sizemode="normal"]

{

 margin-top:-1px!important;

 margin-left:-1px!important;

 margin-right:-1px!important;

 margin-bottom:-1px !important;

 }



/* changes bg color of pinned tabs when updated */

.tabbrowser-tab[pinned][titlechanged]:not([selected="true"]) > .tab-stack > .tab-content {

  background: #DF5673 !important;

}



/* Removes vertical and horizontal scrollbar, you may need to make the numbers larger or smaller to fit your browser */

#content browser {

/*margin-right: -16px !important;

margin-bottom: -13px !important;*/

}



/* fonts */

#TabsToolbar .tabbrowser-tab, #urlbar {

    font-family: Open Sans;

    font-size: 12px;

}



#TabsToolbar .tabbrowser-tab {

    font-family: Open Sans;

    font-size: 12px;

}



#TabsToolbar {

    background: #282828 !important;

    margin-bottom: 0 !important;

}





#TabsToolbar .tabbrowser-tabs {

    min-height: 13px !important;

    margin-top: -2px !important;

    margin-bottom: 0px !important;

    text-align: center !important;

    margin-left: -15px !important;

    margin-right: -15px !important;

}



#tabbrowser-tabs tab .tab-close-button {

    display: none !important;

}



.tabbrowser-tab:not([pinned]) .tab-icon-image {

display: none !important;

}



#tabcounter-tabcount, #tabcounter-toolbar-item, #urlbar-wrapper, .textbox-input-box.urlbar-input-box {

    color: #DF5673 !important;

    background-color: #282828 !important;

    border: none !important;

}



#TabsToolbar .tabbrowser-tab {

    -moz-border-top-colors: none !important;

    -moz-border-left-colors: none !important;

    -moz-border-right-colors: none !important;

    -moz-border-bottom-colors: none !important;

    padding: 0px 0px !important;

    border-radius: 0px !important;

    background: #282828 !important;

    background-clip: padding-box !important;

    transition: all .1s !important;

    margin-left: 0px !important;

    color: white !important;

    font-size: 12px !important;

    min-height: 14px !important;

}



#TabsToolbar .tabs-newtab-button {

    -moz-border-top-colors: none !important;

    -moz-border-left-colors: none !important;

    -moz-border-right-colors: none !important;

    -moz-border-bottom-colors: none !important;

    border-style: solid !important;

    border-color: transparent !important;

    border-width: 1px 1px 0 1px !important;

    text-shadow: 0 0 4px rgba(255,255,255,0) !important;

    background: #282828 !important;

    background-clip: padding-box !important;

    transition: all .1s !important;

}



#TabsToolbar .tabbrowser-tab[selected] {

    color: white !important;

    background: #DF5673 !important;

    background-clip: padding-box !important;

}



#TabsToolbar .tabs-newtab-button:hover,

#TabsToolbar .tabbrowser-tab:hover:not([selected]) {

    background-color: #C63463 !important;

    color: white !important;

}



#TabsToolbar .tab-background {

    margin: 0 !important;

    background: transparent !important;

}



#TabsToolbar .tab-background-start,

#TabsToolbar .tab-background-end {

    display: none !important;

}



#TabsToolbar .tab-background-middle {

    margin: -4px -2px !important;

    background: transparent !important;

}



#TabsToolbar .tabbrowser-tab:after,

#TabsToolbar .tabbrowser-tab:before {

    display: none !important;

}



#TabsToolbar .tabs-newtab-button {

    border-width: 1px 1px 0 1px !important;

    margin: 0 !important;

    width: auto !important;

    padding: 0 5px !important;

}



#addon-bar,

#PersonalToolbar,

#nav-bar {

    background: #282828!important;

    box-shadow: none !important;

    background-clip: padding-box !important;

    border-color: rgba(0,0,0,.25) !important;

    border-radius: 0 !important;

}



/* codes for restored add on bar */



#back-button, #urlbar-go-button, #urlbar-stop-button {

    display: none;

}



/*  ~   */



.subviewbutton.panel-subview-footer {

    padding-top: 6px !important;

    padding-bottom: 6px !important;

}





/* URL BAR */



/* remove back/fwd */



#nav-bar  #back-button > .toolbarbutton-icon {

 display: none !important;

}

 #forward-button {

 display: none !important;

}



/*styling*/



/*#nav-bar {

    display: none;

}*/

    

/*#urlbar, #urlbar-container, #urlbar-wrapper {

border-image-width: 0px !important;    

border-top: 0px !important;

border-right: 0px !important;    

border-bottom: 0px !important;    

border-left: 0px !important;    

height: 20px !important;    

}*/

 #nav-bar-customization-target { width: 100% !important; }
          #urlbar-wrapper {
              width: 100% !important; margin-top: -0px !important; /* adjust margin-top to ~ -5px if you experience gap */
              position: absolute !important; top: 0 !important; left: 0 !important;
          }
             #urlbar {
                 border: none !important; border-radius: 0 !important;
                 margin: 0 0 0 0 !important; padding: 0 2px 0 9px !important;
                 width: 100% !important;
                 height: 30px !important;
                 /*min-height: var(--url-height) !important;*/
                /* background: var(--url-background) !important; color: var(--url-color) !important;
                 font-family: var(--url-fonts) !important; font-size: var(--url-font-size) !important;*/
                 text-align: center !important;
             }


#PanelUI-button { 



    background-position: 100% 0, calc(100% - 1px) 0, calc(100% - 2px) 0;

    background: url('http://i.imgur.com/TkuW5hs.png') !important;

    background-repeat: no-repeat !important;

    background-position: center !important;

    box-shadow: none !important;

    margin-top: 1px !important;

    width: 10px !important;

    /*display: none !important; /*COMMENT THIS LINE FOR A MENU BUTTON*/

  }



#PanelUI-button:hover {



    background-position: 100% 0, calc(100% - 1px) 0, calc(100% - 2px) 0;

    background: url('http://i.imgur.com/h8J7fda.png') !important;

    background-repeat: no-repeat !important;

    background-position: center !important;

    box-shadow: none !important;

    width: 10px !important;

  }



#PanelUI-button .button-icon,

#PanelUI-button .button-text {

    display: none !important;

}

#PanelUI-menu-button {

    opacity: 0 !important;

    width: 10px !important;

    margin-right: -15px !important;

}



#dropmarker-icon, #historydropmarker, #autocomplete-history-dropmarker, #urlbar-history-dropmarker, #dropmarker {

    display: none !important;

}



#autocomplete-history-dropmarker, #urlbar-history-dropmarker, #urlbar-reload-button {

    display: none !important;

}



.autocomplete-history-dropmarker.urlbar-history-dropmarker {

    display: none !important;

}



#plugins-notification-icon, #notification-anchor-icon, #notification-popup-box {

    display: none !important;

    

}



/*download button

#downloads-button {

    background: url('http://puu.sh/c6x4w/8928980a81.png') !important;

    background-repeat: no-repeat  !important;

    background-position: center !important;

    opacity: 1 !important;

    margin-left: 10px !important;

    margin-right: 10px !important;

    margin-bottom: 0px !important;

    box-shadow: none !important;

    width: 13px !important;

}



#toolbarbutton-icon .Downloads,

#downloads-indicator-icon,

#downloads-indicator-progress-area,

#downloads-button .button-text {

    display: none !important;

}



#downloads-indicator-anchor {opacity: 0 !important;}



#downloads-button:hover {

    opacity: 1 !important;

    box-shadow: none !important;

    background: url('http://puu.sh/c6x4w/8928980a81.png') !important;

    background-repeat: no-repeat !important;

    background-position: center !important;

}

*/

/*

.toolbarbutton-icon {

     background: url('http://puu.sh/c6x4w/8928980a81.png') !important;

    background-repeat: no-repeat  !important;

    background-position: center !important;

    opacity: 1 !important;

    margin-left: 10px !important;

    margin-right: 0px !important;

    margin-bottom: 0px !important;

    box-shadow: none !important;

    width: 13px !important;

}

*/



#bookmarks-menu-button toolbarbutton { visibility:collapse !important; }

/* remove tab scrolling */



.scrollbutton-up, .scrollbutton-down, #alltabs-button {

    display: none !important;

}
tabbrowser tabpanels, #appcontent > #content { background: #282828 !important; }


/*

fork of noha's css

noha-ra.deviantart.com

*/

